*{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
}

body {
   font-family: 'Open Sans', sans-serif;
}

/* INIZIO COMMON */

.wd40 {
   width: 40%
}

.wd60 {
   width: 60%
}

.wd80 {
   width: 80%
}

.wd90 {
   width: 90%
}

.wd100 {
   width: 100%
}

.m0a {
   margin: 0 auto
}

.tac {
   text-align: center
}

.float-l {
   float: left
}

.float-r {
   float: right;
}

.clearfix::after {
   content: ''; 
   display: table;
   clear: both;
}

.btn:hover {
   filter:brightness(1.2)
}

/* FINE COMMON */

/* INIZIO HEADER */

header {
   height: 60px;
   line-height: 60px;
   position: fixed;
   width: 100%;
   background-color: white
}

header .header-left,
header .header-right{
   width: 50%;
   height: inherit;
}

header ul {
   list-style: none;
   display: inline;
   vertical-align: middle;
}

header ul li {
   display: inline;
   padding: 0 15px
}

header ul li a {
   text-decoration: none;
   color: black;
   font-size: 12px;
}

header .header-left img {
   vertical-align: middle;
   height: 20px;
   padding: 0 20px;
}

header .header-right {
   text-align: right;
}

header .header-right .btn {
   background-color: #0061ff;
   border: none;
   color: white;
   padding: 6px 20px;
   margin: 0 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

/* FINE HEADER */

/* INIZIO MAIN */

.jumbotron {
   background-color: #b4d0e7;
   padding-top: 60px;
}

.jumbotron > .wd90 > h1 {
   font-size: 80px;
   padding: 100px 150px;
   font-weight: bold;
}
/* FINE MAIN */


/* INIZIO FOOTER */

/* FINE FOOTER */



























/* !DEBUG ZONE! */

/* .debug header {
   background-color: red;
   height: 60px;
   line-height: 60px;
}

.debug header .header-left,
.debug header .header-right{
   width: 50%;
   height: inherit;
}

.debug header ul {
   list-style: none;
   display: inline;
   vertical-align: middle;
}

.debug header ul li {
   display: inline;
   padding: 0 15px
}

.debug header ul li a {
   text-decoration: none;
   color: black;
   font-size: 12px;
}

.debug header img {
   vertical-align: middle;
   height: 20px;
   padding: 0 20px;
}

.debug header .header-right {
   text-align: right;
}

.debug .btn {
   background-color: #0061ff; /* Green */
   border: none;
   color: white;
   padding: 6px 20px;
   margin: 0 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

.debug .btn:hover {
   filter:brightness(1.2)
}

.debug .jumbotron {
   background-color: #b4d0e7;
   padding-top: 60px;
} */
