*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
body {
	font-family: 'Open Sans', sans-serif
}
/* INIZIO COMMON */
.wd30 {
	width: 30%
}
.wd40 {
	width: 40%
}
.wd50 {
	width: 50%
}
.wd60 {
	width: 60%
}
.wd70 {
	width: 70%
}
.wd80 {
	width: 80%
}
.wd90 {
	width: 90%
}
.wd100 {
	width: 100%
}
.m0a {
	margin: 0 auto
}
.fs14 {
	font-size: 14px
}
.fs16 {
	font-size: 16px
}
.fs44 {
	font-size: 44px
}
.tac {
	text-align: center
}
.float-l {
	float: left
}
.float-r {
	float: right
}
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
.btn {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding: 6px 20px
}
.btn:hover {
	filter: brightness(1.2)
}
.whiteOnBlue {
	color: #FFFFFF;
	background-color: #0061ff
}
.bb-lg-pb-30px {
	border-bottom: 1px solid lightgrey;
	padding-bottom: 30px;
}
/* FINE COMMON */
/* INIZIO HEADER */
header {
	height: 80px;
	line-height: 80px;
	position: fixed;
	width: 100%;
	background-color: #FFFFFF
}
header .header-left,
header .header-right{
	width: 50%;
	height: inherit
}
header ul {
	list-style: none;
	display: inline;
	vertical-align: middle
}
header ul li {
	display: inline;
	padding: 0 15px
}
header ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 16px
}
header .header-left img {
	vertical-align: middle;
	height: 20px;
	padding: 0 20px
}
header .header-right {
	text-align: right
}
header .header-right .btn {
	padding: 10px 20px;
	margin: 0 20px
}
/* FINE HEADER */
/* INIZIO MAIN */
/* Inizio Jumbotron */
.jumbotron {
	background-color: #b4d0e7;
	padding-top: 80px;
	height: 900px;
	width: 100%;
}
.jumbotron > .container > h1 {
	font-size: 70px;
	padding: 100px 40px 50px;
	font-weight: bold
}
.jumboImage img {
	height: 560px
}
.jumboText {
	padding-left: 40px;
}
.jumboText .btn {
	margin: 30px 0 10px 0;
	padding: 10px 20px;
}
.jumboText i{
	margin-top: 40px
}
/* Fine Jumbotron */
/* Inizio Plans */
.plans > .wd70 > h2 {
	margin-top: 200px;
	padding-bottom: 50px
}
.plans .checkBoxes label {
	margin-right: 30px;
}

.plans .checkBoxes {
	font-size: 18px;
	line-height: 20px;
}
.plansColumns {
	margin-top: 40px;
}
.plansColumns .column {
	float: left;
	width: calc(100% / 3 - 34px);
	min-height: 1150px;
	border: 1px solid lightgrey;
}
.plansColumns .column.middle {
	margin: 0 50px
}
.planCategory {
	padding: 10px 0;
	border-bottom: 1px solid lightgrey;
}
.planContent {
	width: 100%;
	padding: 35px 35px 0 35px;
	text-align: left;
}
/* Inizio spaziatura interna del contenuto delle colonne */
.fa-ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 8%
}
.planTitle {
	margin-bottom: 20px
}
.planContent .planPrice {
	margin-bottom: 10px;
	font-size: 16px
}
.planContent .payment {
	margin-bottom: 50px
}
.planContent ul li {
	margin-bottom: 30px
}
.planContent .trialButton button {
	font-size: 16px;
	padding: 10px 0;
	margin-bottom: 30px
}
.planContent .buyNowLink {
	margin-bottom: 80px
}
.planContent h4 {
	font-size: 18px;
	margin-bottom: 30px
}
/* Fine spaziatura interna del contenuto delle colonne */
.fa-check {
	color: blue
}

.h-column {
	margin-top: 70px;
	border: 1px solid lightgrey;
}

.h-column .payment {
	padding-top: 20px;
	margin-bottom: 30px
}

.h-column .contactButton button{
	font-size: 16px;
	padding: 10px 70px;
	margin-bottom: 30px	
}

/* Fine Plans */
/* FINE MAIN */

/* INIZIO FOOTER */

/* FINE FOOTER */

/* !DEBUG ZONE! */
 /* .debug header {
	background-color: #FF0000;
	height: 60px;
	line-height: 60px
}
.debug header .header-left,.debug header .header-right{
	width: 50%;
	height: inherit
}
.debug header ul {
	list-style: none;
	display: inline;
	vertical-align: middle
}
.debug header ul li {
	display: inline;
	padding: 0 15px
}
.debug header ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 12px
}
.debug header img {
	vertical-align: middle;
	height: 20px;
	padding: 0 20px
}
.debug header .header-right {
	text-align: right
}
.debug .btn {
	background-color: #0061ff;
	border: none;
	color: #FFFFFF;
	padding: 6px 20px;
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer
}
.debug .btn:hover {
	filter: brightness(1.2)
}
.debug .jumbotron {
	background-color: #b4d0e7;
	padding-top: 60px
}
.debug .jumboText {
	Background-color: #FF0000;
	width: 50%
} */

/* .debug .plansColumns {
	margin-top: 40px
}
.debug .column {
	float: left;
	background-color: red;
	width: calc(100% /3 - 50px);
	height: 1100px;
	border: 3px solid black;
	
}

.debug .column.middle {
	margin: 0 50px
}
*/