* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}
/* INIZIO COMMON */
.wd30 {
	width: 30%;
}

.wd40 {
	width: 40%;
}

.wd50 {
	width: 50%;
}

.wd60 {
	width: 60%;
}

.wd70 {
	width: 70%;
}

.wd80 {
	width: 80%;
}

.wd90 {
	width: 90%;
}

.wd100 {
	width: 100%;
}

.m0a {
	margin: 0 auto;
}

.fs14 {
	font-size: 14px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs46 {
	font-size: 46px;
}

.tac {
	text-align: center;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.btn {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding: 6px 20px;
}

.btn:hover {
	filter: brightness(1.2);
}

.whiteOnBlue {
	color: #ffffff;
	background-color: #0061ff;
}

.blackOnWhite {
	color: #000000;
	background-color: #ffffff;
}

.bb-lg-pb-30px {
	border-bottom: 1px solid lightgrey;
	padding-bottom: 30px;
}
/* FINE COMMON */

/* INIZIO HEADER */
header {
	height: 80px;
	line-height: 80px;
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	z-index: 1000;
}

header .header-left,
header .header-right {
	width: 50%;
	height: inherit;
}

header ul {
	list-style: none;
	display: inline;
	vertical-align: middle;
}

header ul li {
	display: inline;
	padding: 0 15px;
}

header ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 16px;
}

header .header-left img {
	vertical-align: middle;
	height: 20px;
	padding: 0 20px;
}

header .header-right {
	text-align: right;
}

header .header-right .btn {
	padding: 10px 20px;
	margin: 0 20px;
}
/* FINE HEADER */

/* INIZIO MAIN */
/* Inizio Jumbotron */
#jumbotron {
	background-color: #b4d0e7;
	padding-top: 80px;
	height: 950px;
	width: 100%;
}

#jumbotron > .container > h1 {
	font-size: 90px;
	padding: 100px 40px 50px;
	font-weight: bold;
}

.jumboImage img {
	height: 560px;
	padding-left: 60px;
}

.jumboText {
	padding-left: 40px;
}

.jumboText button {
	margin: 30px 0 10px 0;
	padding: 10px 30px;
}

.jumboText i {
	margin-top: 40px;
}

.jumboText a {
	color: black;
}
/* Fine Jumbotron */
/* Inizio Plans */
#plans > .wd70 > h2 {
	margin-top: 200px;
	padding-bottom: 50px;
	font-size: 46px;
}

#plans .checkBoxes label {
	margin-right: 30px;
}

#plans .checkBoxes {
	font-size: 20px;
	line-height: 20px;
}

.plansColumns {
	margin-top: 40px;
}

.plansColumns .column {
	float: left;
	width: calc(100% / 10 * 3);
	min-height: 1150px;
	border: 1px solid lightgrey;
}

.plansColumns .column.middle {
	margin: 0 calc(100% / 20);
}

.planCategory {
	padding: 10px 0;
	border-bottom: 1px solid lightgrey;
}

.planContent {
	width: 100%;
	padding: 35px 35px 0 35px;
	text-align: left;
}

.buyNowLink a {
	color: blue;
	text-decoration-color: #0061ff;
}
/* Inizio spaziatura interna del contenuto delle colonne */
.fa-ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 8%;
}

.planTitle {
	margin-bottom: 20px;
}

.planContent .planPrice {
	margin-bottom: 10px;
	font-size: 16px;
}

.planContent .payment {
	margin-bottom: 50px;
}

.planContent ul li {
	margin-bottom: 30px;
}

.planContent .trialButton button {
	font-size: 16px;
	padding: 10px 0;
	margin-bottom: 30px;
}

.planContent .buyNowLink {
	margin-bottom: 80px;
}

.planContent h4 {
	font-size: 18px;
	margin-bottom: 30px;
}
/* Fine spaziatura interna del contenuto delle colonne */
.fa-check {
	color: blue;
}

.h-column {
	margin-top: 70px;
	border: 1px solid lightgrey;
}

.h-column .payment {
	padding-top: 20px;
	margin-bottom: 30px;
}

.h-column .contactButton {
	width: calc(100% / 10 * 3);
}

.h-column .contactButton button {
	font-size: 16px;
	padding: 10px 0px;
	margin-bottom: 30px;
	width: 100%;
}
/* Fine Plans */

/* Inizio Partner */
#partner {
	padding-top: 80px;
	width: 70%;
	margin: 0 auto;
}

.partner-photoBox {
	padding: 0 25px 0 0;
}

.partner-textBox {
	padding: 0 0 0 0px;
}

.partner-photoBox img {
	max-width: 100%;
	max-height: 100%;
	padding: 80px 80px 80px 0;
}

.partner-textBox button {
	border: 1px solid black;
	padding: 10px 20px;
	font-size: 20px;
}

.partner-textBox h2 {
	padding: 130px 0 40px 0;
	font-size: 30px;
}

.partner-textBox p {
	line-height: 1.7;
	padding-bottom: 20px;
	font-size: 20px;
}
/* Fine Partner */

/* Inizio Operations */
.operationsColumn {
	width: calc(100% / 10 * 3);
	padding-bottom: 100px;
}

.operationsImage img {
	width: 100%;
	height: 100%;
}

.operationsColumn.middle {
	margin: 0 calc(100% / 20);
}

.operationsColumn .operationsText h3 {
	font-size: 28px;
	padding-bottom: 30px;
}

.operationsColumn .operationsText p {
	font-size: 18px;
}

.operationsColumn .operationsText p span {
	text-decoration: underline;
	font-style: none;
}

#operations h2 {
	font-size: 46px;
	padding-bottom: 50px;
}
/* Fine Operations */

/* Inizio Customers */

#customersHeader {
	width: 50%;
}

#customersHeader h2 {
	font-size: 46px;
	padding-bottom: 30px;
}

#customersHeader a {
	color: #0061ff;
}

#customersContent {
	width: 100vw;
	padding-top: 20px;
}

.customersSideBox {
	height: 25vw;
	width: 25vw;
	float: left;
	position: relative;
}

.customersSideBox div {
	width: 50%;
	height: 50%;
	float: left;
}

.customersSideBox img {
	width: 60%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: invert(100%);
}

.customersMiddleBox {
	height: 25vw;
	width: 50vw;
	background-color: #f5f5f5;
	float: left;
	padding: 2.5vw;
	position: relative;
	overflow-y: auto;
}

#l-tl {
	background: #a2d39b;
}

#l-tl {
	border-style: inset;
	border: 10px solid #d0e9cd;
}
#l-tr {
	background: #61082b;
}

#l-bl {
	background: #0093ce;
}

#l-br {
	background: #ff1c1d;
}

#r-tl {
	background: #d5001f;
}

#r-tr {
	background: #b4d0e7;
}

#r-bl {
	background: #0c2481;
}

#r-br {
	background: #ffd82f;
}

.customersMiddleBox img {
	width: 10vw;
}

.customersMiddleBox .divider::before {
	content: '';
	position: absolute;
	left: 50px;
	top: 9vw;
	width: 5vw;
	border-top: 3px solid lightgrey;
}

.customersMiddleBox .divider {
	padding-bottom: 7vw;
}

.customersMiddleBox #quote {
	padding-top: 3vw;
}

#bottomCustomersBackground {
	background: #b4d0e7;
	height: 25vw;
}

#customers #bottomCustomers .companyTitle {
	width: 50%;
	font-size: 28px;
	float: left;
	color: #61082b;
	margin-top: 10vw;
}

#customers #bottomCustomers .btn {
	width: 20vw;
	height: 2vw;
	float: right;
	margin-top: 10vw;
}
/* Fine Customers */

/* Inizio FAQ */
#faq {
	margin-bottom: 100px;
}

#faq h2 {
	padding-top: 100px;
	padding-bottom: 50px;
}

.question,
.question i {
	height: 80px;
	line-height: 80px;
	padding-right: 10px;
}
/* Fine FAQ */

/* FINE MAIN */

/* INIZIO FOOTER */
footer {
	padding-bottom: 50px;
	background: black;
	color: white;
}

footer .footerColumn {
	width: calc(100% / 5 - 150px);
	margin-right: 150px;
	padding-bottom: 100px;
}
footer h4 {
	padding: 80px 0 20px 0;
}

footer ul {
	list-style: none;
}

footer a {
	color: white;
	text-decoration: none;
	font-size: 12px;
}

#language {
	clear: both;
	width: 100px;
	border-top: 3px solid lightgrey;
	padding: 25px 0;
	font-size: 12px;
}
/* FINE FOOTER */
